[ColorEffects:Disabled]
Color={foreground_inactive}
ColorAmount=0.55
ColorEffect=3
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={foreground_inactive}
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={background_alt}
BackgroundNormal={background}
DecorationFocus={accent}
DecorationHover={hover}
ForegroundActive={accent}
ForegroundInactive={foreground_inactive}
ForegroundLink={blue}
ForegroundNegative={red}
ForegroundNeutral={yellow}
ForegroundNormal={foreground}
ForegroundPositive={green}
ForegroundVisited={purple}

[Colors:Selection]
BackgroundAlternate={background_alt}
BackgroundNormal={accent}
DecorationFocus={accent}
DecorationHover={hover}
ForegroundActive={accent}
ForegroundInactive={foreground_inactive}
ForegroundLink={blue}
ForegroundNegative={red}
ForegroundNeutral={yellow}
ForegroundNormal={background}
ForegroundPositive={green}
ForegroundVisited={purple}

[Colors:Tooltip]
BackgroundAlternate={background_alt}
BackgroundNormal={background}
DecorationFocus={accent}
DecorationHover={hover}
ForegroundActive={accent}
ForegroundInactive={foreground_inactive}
ForegroundLink={blue}
ForegroundNegative={red}
ForegroundNeutral={yellow}
ForegroundNormal={foreground}
ForegroundPositive={green}
ForegroundVisited={purple}

[Colors:View]
BackgroundAlternate={background_alt}
BackgroundNormal={background}
DecorationFocus={accent}
DecorationHover={hover}
ForegroundActive={accent}
ForegroundInactive={foreground_inactive}
ForegroundLink={blue}
ForegroundNegative={red}
ForegroundNeutral={yellow}
ForegroundNormal={foreground}
ForegroundPositive={green}
ForegroundVisited={purple}

[Colors:Window]
BackgroundAlternate={background_alt}
BackgroundNormal={background}
DecorationFocus={accent}
DecorationHover={hover}
ForegroundActive={accent}
ForegroundInactive={foreground_inactive}
ForegroundLink={blue}
ForegroundNegative={red}
ForegroundNeutral={yellow}
ForegroundNormal={foreground}
ForegroundPositive={green}
ForegroundVisited={purple}

[General]
ColorScheme={scheme_id}
Name={scheme_name}
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={background}
activeForeground={foreground}
inactiveBackground={background_alt}
inactiveForeground={foreground_inactive}
